.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.home {
  display: flex;
  justify-content: center;
  font-size: large;
  text-align: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  border-radius: 25px;
  border: 2px solid #B82B1F;
  padding: 20px;
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.imgHome {
  width: 10rem;
  align-self: center;
}

.container {
  margin: 2rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
